<div id={{ event_id }} class="item">

    <a class="ui small image"  href="/event/{{ event.id }}">

        <img src="{{ get_image_path(event.image_big) }}">
    </a>

    <div class="content">
        <div>
            <div id="rewards" data-html="
        {% for r in event.rewards if r != 0|string() %}
        <div>{{ loop.index }} - {{ r }}</div>
        {% endfor %}
        " class="ui orange right ribbon label rewards">
                <i class="trophy icon"></i>
                <span>
              Награды
          </span>
            </div>
        </div>

        <a class="ui header" href="/event/{{ event.id }}">{{ event.title }}</a>

        <div class="description">
            <p>{{ event.description_short|safe }}</p>
        </div>

        <div class="extra">

            {% if event.status == "NOT_READY" %}
                <div class="ui left floated label">
                    Статус: не началось
                </div>
            {% elif event.status == "STARTED" %}
                <div class="ui left floated green label">
                    Статус: идет
                </div>
            {% elif event.status == "FINISHED" %}
                <div class="ui left floated orange label">
                    Статус: завершено
                </div>
            {% elif event.status == "REWARDED" %}
                <div class="ui left floated red label">
                    Статус: награды розданы
                </div>
            {% endif %}

            <div class="ui left floated label">
                Начало: {{ event.getDateStartStr() }}
            </div>

            {% if event.waitersCount() != 0 %}
                <div id="waiters" class="ui right floated label waiters">
                    Ожидают: {{ event.waitersCount() }}
                </div>
            {% endif %}

            <div id="participants" class="ui right floated label participants" data-html="
        {% for p in event.participants %}
        <div>{{ p }}</div>
        {% endfor %}
        ">
                Участников: {{ event.participantsCount() }} / {{ event.max_participants }}
            </div>

        </div>

        <!--{% if created == True %}-->
            <!--<div class="ui hidden divider"></div>-->
            <!--<div class="ui secondary right floated menu">-->
            <!--{% if event.status != "FINISHED" %}-->
                <!--<div>-->
                <!--<a class="ui basic positive icon button" href="/edit_event">-->
                <!--<i class="edit icon"></i>-->
                <!--Изменить-->
                <!--</a>-->
                <!--</div>-->
                <!--{% endif %}-->
            <!--<div>-->
            <!--<a class="ui basic negative icon button" href="/delete_event">-->
            <!--<i class="trash icon"></i>-->
            <!--Удалить-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--{% endif %}-->

    </div>
</div>


<script>
    $('#{{event_id}} #rewards').popup({
        on: 'hover',
        position: 'bottom right'
    });
</script>