<div class="ui fixed menu">

    <a class="item" href="/">
        Профаил
    </a>


    <div id="events_dropdown" class="ui dropdown item">

        События <i class="dropdown icon"></i>

        <div class="menu">
            <a class="item" href="/events_published">
                Все
            </a>
            <a class="item" href="/events_participate">
                Участвую
            </a>
            {% if user.role == "ADMIN" %}
                <a class="item" href="/events_created">
                    Созданные
                </a>
            {% endif %}
        </div>

    </div>

    {% if user.role == "ADMIN" %}
        <div id="admin_dropdown" class="ui dropdown item">

            Админ <i class="dropdown icon"></i>

            <div class="menu">

                <a class="item" href="/invites">
                    Приглашения
                </a>
                <a class="item" href="/all">
                    Все пользователи
                </a>
            </div>

        </div>
    {% endif %}


    <div class="right menu">
        <a class="item" href="/settings">
            Настройки
        </a>
        <a class="item" href="/logout">
            Выход
        </a>
    </div>

</div>

<div class="ui section hidden divider"></div>

<script type="text/javascript">
    $(events_dropdown).dropdown();
    $(admin_dropdown).dropdown();
</script>