<div class="ui feed">
    {% for r in user.events_history.all() %}
    <div class="ui hidden divider"></div>
    <div class="event">
        <div class="content">
            <div class="summary">
                Участвовали в <a href="/event/{{r.event.id}}">{{r.event.title}}</a>
                <div class="date">{{r.event.date_start}}</div>
            </div>
            <div class="extra text">
                Заняли {{r.place}} место
                {% if r.rewarded %}
                    и получили {{r.reward}}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>