{% if view.active_events|length %}

    <h4>
        Active:
    </h4>

    <div class="ui large feed" style="margin-left: 40px">

        {% for r in view.active_events %}
            <div class="event" style="margin-bottom: 20px;">
                <div class="content">
                    <div class="summary">
                        <a href='{{ r.event.url }}'>{{ r.event.title }}</a>
                        <div class="date">{{ r.event.start_date }}</div>
                    </div>
                    <div class="extra text">
                        {% if r.event.has_waiter(view.user) %}
                            In wait list
                        {% elif r.event.has_participant(view.user) %}
                            You are participating
                        {% endif %}
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

{% endif %}


{% if view.finished_events|length %}

    <h4>
        Finished:
    </h4>

    <div class="ui large feed" style="margin-left: 40px;">

        {% for r in view.finished_events %}
            <div class="event" style="margin-bottom: 20px;">
                <div class="content">
                    <div class="summary">
                        <a href='{{ r.event.url }}'>{{ r.event.title }}</a>
                        <div class="date">{{ r.event.start_date }}</div>
                    </div>
                    <div class="extra text">
                        {% if r.place %}
                            {{ loc(loc.EVENTS_HISTORY_TOOK_PLACE, r.place)|safe }}
                            {% if r.reward and r.rewarded %}
                                {{ loc(loc.EVENTS_HISTORY_AND_REWARD, r.reward)|safe }}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endif %}