<div class="ui center aligned basic segment">

    {% if view.myself %}

        <div id="avatar_image" class="ui small circular dimmable image">

            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div id="load_avatar_button"
                             class="ui inverted button">{{ loc(loc.PROFILE_AVATAR_CHANGE) }}</div>
                    </div>
                </div>
            </div>

            <img src="{{ view.user.image }}">
        </div>

        <form action="{{ view.change_avatar_url }}" method=POST enctype=multipart/form-data style="display: none">
            <input id="load_avatar_browse" type="file" name="image" accept="image/png, image/jpeg">
            <button id="load_avatar_submit" class="ui primary button" type="submit"></button>
        </form>

        <script>

            $('#avatar_image').dimmer({
                on: 'hover'
            });

            $("#load_avatar_button").on("click", function () {
                $("#load_avatar_browse").click();
            });
            $("#load_avatar_browse").on("change", function () {
                $("#load_avatar_submit").click();
            })

        </script>

    {% else %}

        <div class="ui small rounded image">
            <img src="{{ view.user.image }}">
        </div>

    {% endif %}

    <h1 class="ui header">
        <div class="content">
            {{ view.user.name }}
            <div class="sub header">{{ loc(loc.PROFILE_POINTS, view.user.points) }}</div>
        </div>
    </h1>

</div>

<div class="ui hidden section divider">
</div>

<h3 class="ui horizontal divider header">
    {{ loc(loc.PROFILE_EVENTS_HISTORY) }}
</h3>

{% if view.events_history and view.events_history|length %}
    {% include 'events_history/includes/_events_history.html' %}
{% else %}
    <div class="ui center aligned basic segment">
        <span style="font-size: 1.1rem; color: grey;"> {{ loc(loc.PROFILE_NO_EVENTS_PARTICIPATED) }} </span>
    </div>
{% endif %}
